<div class="card border-dark mb-3">
  <div class="card-header">
    <h5 class="card-title">Номер контракта: {{contract.number}}</h5>
  </div>
  <div class="card-body text-dark row">
    <p class="card-text">Заказчик: {{contract.buyerName}}</p>

    <div class="btn-group w-25 justify-content-end" role="group">
      <button type="button" class="btn btn-outline-primary" (click)="detailsCallback(contract.number)">Подробнее</button>
      <button type="button" class="btn btn-outline-danger" (click)="deleteCallback(contract.number)">Удалить</button>
    </div>
  </div>
</div>
