<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" class="w-100 my-2">
    <mat-label>Название</mat-label>
    <input
      matInput
      type="text"
      formControlName="name"
    >
    <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 my-2">
    <mat-label>Цена</mat-label>
    <input
      matInput
      type="number"
      formControlName="price"
    >
    <mat-error *ngIf="price.invalid">{{getErrorMessagePrice()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 my-2">
    <mat-label>Характеристики</mat-label>
    <textarea
      matInput
      type="text"
      formControlName="characteristics"
    ></textarea>
  </mat-form-field>

  <mat-dialog-actions class="w-100 justify-content-end">
    <button class="btn btn-secondary col-2 me-2" (click)="close()">Отмена</button>
    <button class="btn btn-primary col-2" [type]="submit" [disabled]="!form.valid">{{data.submitLabel}}</button>
  </mat-dialog-actions>
</form>

