<div *ngIf="furnitureList" class="modal d-block">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить продажу</h5>
        <button type="button" class="btn-close" (click)="cancel()"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3 btn-group">
          <div ngbDropdown class="d-inline-block btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-outline-primary" id="dropdownBuyer">
              Мебель
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBuyer">
              <button ngbDropdownItem *ngFor="let furniture of furnitureList" (click)="selectFurniture(furniture)">{{furniture.name}}</button>
            </div>
          </div>
          <input type="text" class="form-control" [value]="selectedFurniture ? selectedFurniture.name : ''" readonly>
        </div>

        <div class="mb-3">
          <label for="count" class="form-label">Количество</label>
          <input type="number" class="form-control" id="count" [(ngModel)]="count">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="add()">Добавить</button>
      </div>
    </div>
  </div>
</div>

